<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="username" value="Mdorst2@deltafibernederland.nl" />
      <add key="password" value="Welkom06!" />

      <add key="projectname" value="Karan" />
      <add key="planId" value="85332" />
      <add key="suiteId" value="85337" />
    </appSettings>
</configuration>
